   {% load static %}
   <nav class="nav bg-light">
    <div class="container-fluid">
    <div class="float-start mx-3 icon1">
        <small class="phone"><a href="" class="text-black-50"><i class="fa-solid fa-phone  text-black-50"></i>+2 95 01  88 82</a></small> 
        <small class="email"><a href="" class="text-black-50"><i class="fa-solid fa-envelope me-1 text-black-50 mx-2 email"></i>info@domain.com</a></small> 
   </div>
    
   <div class="float-end me-4 icon2">
   
    <small><a href=""> <i class="fa-brands fa-facebook-f me-2 text-black-50"></i></a></small>
    <small><a href=""><i class="fa-brands fa-twitter me-2 text-black-50"></i></a></small>
    <small><a href=""><i class="fa-brands fa-linkedin-in me-2 text-black-50"></i></a></i></small>    
    <small><a href=""><i class="fa-solid fa-basketball me-2 text-black-50"></i></a></small>
    <small><a href=""><i class="fa-brands fa-google-plus-g me-2 text-black-50"></i></a></small>

</div>
</div>
   </nav>

   <nav class="navbar bg-gradient mt-4">
    <div class="container-fluid">
        <div class="menu">        
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/Ekran Alıntısı.PNG' %}" alt="" width="150" height="60" class="mx-1 navresim">
      </a>
      <select name="" id="" class="text-black-50 mani mani1">
        <option value="usa">USA</option>
        <option value="tl">TL</option>
        <option value="manat">MANAT</option>
      </select>
      <select name="" id="" class="text-black-50 mani">
        <option value="dolar">DOLAR</option>
        <option value="euro">EURO</option>
        <option value="sterlin">STERLİN</option>
      </select>
    </div>



    <div class="float-end orta">
        {% if user.is_authenticated %}
          <div class="btn-group pencere3">
        <button type="button" class="btn  bg-white text-black-50 border-0 market"  id="pencere1">
          <a href=""  class="btn text-capitalize text-black-50 giris"><i class="fa-solid fa-user me-1 mx-2"></i>{{request.user}}</a>
        </button>
        <ul class="dropdown-menu acilir3">
          <li><a class="dropdown-item text-black-50" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-right-from-bracket me-1 mx-2"></i>Çıkış</a></li>
        </ul>
      </div>
      
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-right-from-bracket me-1 mx-2"></i>Çıkış Yap</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Çıkış Yapmak İstediğinizden Eminmisiniz ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Hayır</button>
                  <button type="button" class="btn btn-sm btn-warning"><a href="{% url 'logout' %}" class="text-white">Evet</a></button>
                </div>
              </div>
            </div>
          </div> 
     
        <a href="{% url 'favori' %}" class="btn text-black-50 star"><i class="fa-solid fa-star me-1 mx-2"></i>Favoriler</a>
        <a href="" class="btn text-black-50 odeme"><i class="fa-solid fa-money-bill me-1 mx-2"></i>Ödeme</a>
        <a href="{% url 'basket' %}" class="btn position-relative text-black-50 sepet"><i class="fa-solid fa-shopping-cart me-1 mx-2"></i><span id="cart-cound" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning mt-2">0</span></a>
       
        
        
          
        {% else %}
        <a href="{% url 'login' %}" class="text-black-50 giris"><i class="fa-solid fa-user me-1 mx-2"></i></i>Giriş Yap</a>
        <a href="{% url 'register' %}" class="text-black-50 giris"><i class="fa-solid fa-lock me-1 mx-2"></i>Üye Ol</a>
        {% endif %}
     
       
   
    
    </div> 
    
     </div> 
</nav>

<hr class="text-black-50">

<!-- Search -->
<div class="input-wrapper d-flex float-end mx-4 ara" id="formdiv">
  <form action="" method="GET" id="form">
  <div class="input-group ">
    <button type="submit" class="input-group-text " id="btnGroupAddon2 search"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="search_product" value="{{search_product}}" class="form-control" id="arainput" placeholder="Ara" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div>
</form>
</div>

 <div>
  
 

<div class="btn-group son">
    <button class="mx-3 me-0 border-0 bg-white anasayfa" id="anasayfa"><a href="{% url 'home' %}" class="  text-warning">Ana Sayfa</a></button>
    <div class="btn-group pencere1">
  <button type="button" class="btn btn-secondary bg-white text-black-50 border-0 market"  id="pencere1">
    SüperMarket
  </button>
  <ul class="dropdown-menu acilir1">
    <li><a class="dropdown-item text-black-50" href="#">Ev & Temizlik</a></li>
    <li><a class="dropdown-item text-black-50" href="#">Gıda</a></li>
    <li><a class="dropdown-item text-black-50" href="#">Petshop</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item text-white bg-warning" href="{% url 'home' %}">Tümü</a></li>
  </ul>
</div>
</div>

  <div class="btn-group pencere2">
    <button type="button" class="btn btn-secondary bg-white text-black-50 border-0 blog ">
      Yardım
    </button>
    <ul class="dropdown-menu acilir2">
      <li><a class="dropdown-item text-black-50" href="#">Bir Şikayet Girin</a></li>
      <li><a class="dropdown-item text-black-50" href="#">Fikri Mülkiyet Hakkı İhlali Bildirin</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-white bg-warning" href="{% url 'contact' %}">Müşteri Hizmetleri</a></li>
    </ul>
  </div>
  <button class=" border-0 bg-white   hata"><a href="{% url 'add' %}" class="text-black-50">Ürün Ekle</a></button>
  <button class=" border-0 bg-white text-black-50 iletisim"><a href="{% url 'contact' %}" class="text-black-50">İletişim</a></button>
</div>

<script src="{% static 'js/jquery.js' %}"></script>

<script>
  var acilir1 = $(".acilir1");
  var acilir2 = $(".acilir2");
  $(".pencere1").mouseenter(function() {
    $(".acilir1").slideDown(500)
  });

  $(".pencere1").mouseleave(function() {
    $(".acilir1").slideUp(500)
  });

  $(".acilir1").mouseenter(function() {
    $(".acilir1").show()
  });

  $(".acilir1").mouseleave(function() {
    $(".acilir1").hide(500)
  });


$(".pencere2").mouseenter(function() {
  $(".acilir2").slideDown(500)
});

$(".pencere2").mouseleave(function() {
  $(".acilir2").slideUp(500)
});

$(".acilir2").mouseenter(function() {
  $(".acilir2").show()
});

$(".acilir2").mouseleave(function() {
  $(".acilir2").hide(500)
});


$(".pencere3").mouseenter(function() {
  $(".acilir3").slideDown(500)
});

$(".pencere3").mouseleave(function() {
  $(".acilir3").slideUp(500)
});

$(".acilir3").mouseenter(function() {
  $(".acilir3").show()
});

$(".acilir3").mouseleave(function() {
  $(".acilir3").hide(500)
});


 
  
</script>